@tailwind base;
@tailwind components;
@tailwind utilities;


.before-bg {
    @apply before:absolute before:top-0 before:left-0 before:w-full before:h-full
}

.radial-gradient-1{
    background-image: radial-gradient(at 50% 140%, rgba(0, 255, 102, 0.27) 20%, rgba(0, 255, 255, 0) 60%);
    background-position: 200%;
}

.inner-border-bottom-1 {
    text-align:center;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(0.25turn, transparent, white, transparent 80%);
    border-image-slice: 1;
    width:100%;
}
